[user]
	name = Austin Lauritsen
	email = austin@veryaustin.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = matching
[alias]
	s = status -s
[core]
	excludesfile = /Users/austinlauritsen/.gitignore_global
[code]
	editor = code --wait
[difftool "vscode"]
	cmd = code --wait --diff "$LOCAL\" \"$REMOTE\"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait \"$MERGED\"
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan